body {
  background: radial-gradient(
    401px at 50.6% -0.3%,
    rgba(255, 255, 255, 0.31) 1.2%,
    rgb(36, 212, 219) 100.2%
  );
}
h1,
h2,
h3,
p {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 10px;
}

.weather-app {
  background: radial-gradient(
    401px at 50.6% -0.3%,
    rgba(255, 255, 255, 0.31) 1.2%,
    rgb(36, 212, 219) 100.2%
  );
}
.navbar {
  background: radial-gradient(
    401px at 50.6% -0.3%,
    rgba(255, 255, 255, 0.31) 1.2%,
    rgb(36, 212, 219) 100.2%
  );
}
.form-inline {
  background: radial-gradient(
    401px at 50.6% -0.3%,
    rgba(255, 255, 255, 0.31) 1.2%,
    rgb(36, 212, 219) 100.2%
  );
}
.btn {
  color: black;
  box-shadow: 10px;
  border-color: black;
}
.form-control {
  border-color: black;
}
#current-button {
  position: relative;
  margin: 10px;
  bottom: 71px;
  left: 95px;
  padding: 5px 8px;
  border-radius: 4px;
  background: rgb(215, 250, 252) 100.2%;
}
.units {
  font-size: 35px;
}
h1 {
  color: #000;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 40px;

  font-weight: 10px;
}
.col-2 {
  font-size: 17px;
}
.card {
  position: relative;
  left: 0px;
  background: rgb(36, 212, 219) 100.2%;
}
